.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align hero content to left */
  height: 95vh;
  padding-left: 5%; /* space from left edge */
  background-image: url("../../Assets/imageHero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column; /* stack text vertically */
  align-items: flex-start; /* left-align content */
  text-align: left; /* left-align text */
  max-width: 700px;
  padding: 1rem;
  z-index: 2; /* ensure text is above overlay */
}

.hero-content .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left-align text content */
}

.hero-content .text-content h1 {
  color: var(--hero-text-one);
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content .text-content h1 span {
  color: var(--hero-text-one-span);
  padding-right: 6px;
}

.hero-content .text-content p {
  color: var(--hero-text-two);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  max-width: 600px;
}

.hero-content .text-content a {
  background: var(--nav-btns-bg);
  color: var(--nav-btns-text);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all ease 400ms;
}

.hero-content .text-content a:hover {
  background: var(--nav-btns-bg-hover);
}

@media only screen and (max-width: 1024px) {
  .hero-section {
    justify-content: center; /* center content on tablet */
    padding-left: 0;
    text-align: center;
  }
  .hero-content,
  .hero-content .text-content {
    align-items: flex-start;
    text-align: start;
  }
}


@media only screen and (max-width: 415px) {
  .hero-content .text-content h1 {
    font-size: 2rem;
  }
  .hero-content .text-content p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 364px) {
  .hero-content .text-content h1 {
    font-size: 1.5rem;
  }
}
